<template>
  <div id="about-me">
    <div class="content">
      <div class="text-header">
        <h1>About Me</h1>
        <h4 style="color: gray;">Introduce</h4>
      </div>
      <div class="content-area">
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="../../assets/profile.jpg" alt id="profile-img" />
            </div>
            <div class="col">
              <div class="content-text" id="p-main-area">
                <v-icon name="quote-left" scale="1.5" style="color: red;"></v-icon>
                <p
                  id="p-main"
                >To obtain a challenging position in Web-Application, Mobile Application, Machine Learning, Artificial Intelligence and Blockchain</p>
                <v-icon name="quote-right" scale="1.5" style="float: right; color: red;"></v-icon>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="content-text" id="text-profile">
                <p>
                  <b>Name</b> : Nawapol Tanwiboon
                </p>
                <p>
                  <b>Age</b> : 21 Years
                </p>
                <p>
                  <b>Email</b> : bab.nawapol@gmail.com
                </p>
                <p>
                  <b>Address</b> : 45/4 (59/53) , Prachachuen Nonthaburi 8 , Prachachuen road , Nonthaburi 11000
                </p>
                <p>
                  <b>Phone</b> : (+66) 918068522
                </p>
              </div>
            </div>
            <div class="col">
              <h4 style="text-align: left;">Basic Programing Language</h4>
              <div class="content-text">
                <div class="row" id="basic-program-icon">
                  <div class="col">
                    <v-icon name="brands/js-square" scale="2"></v-icon>
                  </div>
                  <div class="col">
                    <h3>C#</h3>
                  </div>
                  <div class="col">
                    <v-icon name="brands/php" scale="2.5"></v-icon>
                  </div>
                  <div class="col">
                    <v-icon name="brands/html5" scale="2"></v-icon>
                  </div>
                  <div class="col">
                    <v-icon name="brands/css3-alt" scale="2"></v-icon>
                  </div>
                  <div class="col">
                    <v-icon name="database" scale="1.5"></v-icon>
                    <sup>MySQL</sup>
                  </div>
                </div>
              </div>
              <h4 style="text-align: left;">Adobe SET</h4>
              <div class="content-progress">
                <div class="progress-text">
                  <span>Illustrator</span>
                  <span style="float: right;">80%</span>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 80%; background: #ED7225;"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="content-progress">
                <div class="progress-text">
                  <span>Photoshop</span>
                  <span style="float: right;">70%</span>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 70%; background: #2CC5F1;"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="content-progress">
                <div class="progress-text">
                  <span>Premiere Pro</span>
                  <span style="float: right;">60%</span>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 60%; background: #4D0460;"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="content-text" style="margin-top: -20px;" id="text-profile">
                <br />
                <h3>Education</h3>
                <hr />
                <br />
                <div class="row">
                  <div class="col-auto">
                    <b>2016 - 2019</b>
                  </div>
                  <div class="col">
                    Graduated Major Computer Engineering GPAX :
                    <b>3.21</b> , Dhurakij Pundit University
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-auto">
                    <b>2013 - 2015</b>
                  </div>
                  <div
                    class="col"
                  >Vocational Certificate Program in Business Computer, Prachuap Khiri Khan technical college, Prochuag Khiri Khan</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="content-text" style="margin-top: -20px;" id="text-profile">
                <br />
                <h3>Internship</h3>
                <hr />
                <br />
                <div class="row">
                  <div class="col-auto">
                    <b>2019 (2 months)</b>
                  </div>
                  <div class="col">
                    Apprentic about develop Web Application and Mobile Application (React, React Native) at
                    <a
                      href="https://www.dplus.co.th/"
                      target="_blank"
                    >Dplus Intertrade</a>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-auto">
                    <b>2018 (2 months)</b>
                  </div>
                  <div class="col">
                    Apprentice about develop Web Application (PHP Laravel Framework) at
                    <a
                      href="https://entercorp.net/"
                      target="_blank"
                    >Enter Corporation</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div style="margin-top: -20px; text-align: left;" id="text-profile">
                <h3>Activities</h3>
                <hr />
                <div class="row">
                  <div class="col">
                    <p>
                      A participant in Enter Train Academy :
                      <b>Blockchain Hackathon 2018</b>
                    </p>
                  </div>
                  <div class="col">
                    <p>
                      DPU StartUp Business Plan Consolidate 2018,
                      <b>50,000 THB Grants</b>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p>
                      A participant in project
                      <b>Young Technopreneur 2019</b>
                    </p>
                  </div>
                  <div class="col">
                    <p>
                      A participant in project
                      <b>Thailand Data Innovation Awards 2019</b>
                    </p>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
        <br />
        <a
          href="https://drive.google.com/drive/folders/13yJ6js3bom7FEZYmwHSTMKj0B276FzrP?usp=sharing"
          id="btn-doc"
          target="_black"
        >My Document</a>
      </div>
    </div>
  </div>
</template>

<style scoped>
#about-me {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.content-area {
  padding: 100px 100px 50px 100px;
}

.text-header {
  text-align: center;
}

#profile-img {
  width: 300px;
  border-radius: 360px;
  transition: 0.5s all;
}

#profile-img:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.content-text {
  text-align: left;
  max-width: 600px;
  word-wrap: break-word;
  margin-top: 50px;
  margin-bottom: 50px;
}

#text-profile {
  font-size: 20px;
  padding: 20px;
}

#text-profile p {
  padding: 10px;
}

.content-progress {
  padding: 15px 0px 0px 0px;
  text-align: left;
}

.progress-text {
  padding: 5px;
}

#btn-doc {
  border-radius: 50px;
  background: red;
  padding: 15px 40px 15px 40px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s all;
}

#btn-doc:hover {
  background: white;
  color: red;
  border: 2px solid red;
}

#p-main {
  padding: 20px 20px 0px 20px;
  font-size: 20px;
}

/* responsive */

@media screen and (max-width: 1366px){
  #profile-img{
    width: 220px;
  }

  .content{
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {

  #profile-img {
    width: 200px;
  }

  .content-text {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #p-main{
    padding: 10px 10px 0px 10px;
  }

  #p-main-area{
    margin-top: -20px;
    margin-bottom: 60px;
  }

  #basic-program-icon{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
</style>