<template>
  <div id="assignment">
    <div class="container" id="content-area">
      <h1>
        Assignment . . .
        <span style="color: red; font-size: 50px;">?</span>
      </h1>
      <br />
      <div style="padding-top: 50px;" class="card-deck" data-aos="fade-up" data-aos-delay="500" data-aos-duration="700">
        <div
          class="card"
          id="card-assignment"
          data-aos="flip-left"
          data-aos-delay="300"
          data-aos-duration="700"
        >
          <div style="padding: 50px 50px 0px 50px;">
            <img src="../../assets/jigsaw.png" class="card-img-top" />
          </div>
          <br />
          <hr style="background: white;" />
          <br />
          <h4 @click="goTo('find-solution')" class="btn-click">Find Solution</h4>
          <div class="card-body">
            <p
              class="card-text"
            >X, 5, 9, 15, 23, Y, Z - Please create a new function for finding X, Y, Z value.</p>
          </div>
        </div>
        <div
          class="card"
          id="card-assignment"
          data-aos="flip-left"
          data-aos-delay="500"
          data-aos-duration="700"
        >
          <div style="padding: 50px 50px 0px 50px;">
            <img src="../../assets/meeting-point.png" class="card-img-top" />
          </div>
          <br />
          <hr style="background: white;" />
          <br />
          <h4 @click="goTo('place-api')" class="btn-click">Place API</h4>
          <div class="card-body">
            <p
              class="card-text"
            >Please use “Place search|Place API(by Google)” for finding all restaurants in Bangsue area and show result by JSON</p>
          </div>
        </div>
        <div
          class="card"
          id="card-assignment"
          data-aos="flip-left"
          data-aos-delay="700"
          data-aos-duration="700"
        >
          <div style="padding: 50px 50px 0px 50px;">
            <img src="../../assets/line-logo.png" class="card-img-top" />
          </div>
          <br />
          <hr style="background: white;" />
          <br />
          <h4 @click="goTo('messaging-api')" class="btn-click">Messaging API</h4>
          <div class="card-body">
            <p
              class="card-text"
            >Please create one small project for Line messaging API(Up to you), contain a flow diagram, your code, and database.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
      goTo(path) {
      this.$router.push("/" + path);
    },
  },
  created() {}
};
</script>

<style scoped>
#assignment {
  width: 100%;
  height: 100%;
  background: rgba(243, 243, 243, 0.75);
}

#content-area {
  padding-top: 100px;
  padding-bottom: 100px;
}

#card-assignment {
  margin: 30px;
  border-radius: 5px;
  min-height: 505px;
  -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
}

.btn-click{
    cursor: pointer;
    transition:0.5s all;
}

.btn-click:hover{
    color: red;
}
</style>