<template>
  <div id="senior-project">
    <div class="content">
      <h1>Senior Project</h1>
      <h4 style="color: gray;">
        Medical
        <span style="color: green;">Cannabis</span> Tracking
      </h4>
      <div class="content-area">
        <div class="container">
          <div class="row">
            <div class="col" data-aos="flip-right"
                data-aos-delay="300"
                data-aos-duration="1200">
              <img
                src="../../assets/project-banner.png"
                alt
                id="img"
              />
            </div>
            <div class="col">
              <div class="content-text">
                <p>
                  <b>Medical Cannabis Tracking</b> is Web Application for tracking usage Cannabis for Medical which system can be tracking Cultivation, Transportation and Production of therapeutic drugs. We use technology
                  <b>Blockchain</b> for collect data to increase the reliability of the system
                </p>
                <p>
                  <b>Medical Cannabis Tracking</b> developed from Laravel and VueJS and API is NodeJS for contact to Ethereum (Blockchain) and include database is MySQL
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
#senior-project {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #f6f6f6;
}

.content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.content-area {
  padding: 100px 100px 0px 100px;
}

#img {
  width: 100%;
  transition: 0.5s all;
  -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
}

#img:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.content-text {
  max-width: 600px;
  word-wrap: break-word;
  font-size: 20px;
  text-indent: 50px;
  text-align: justify;
  text-justify: inter-word;
  padding: 20px 0px 0px 20px;
}

/* responsive */

@media screen and (max-width: 1366px) {
  .content-text{
    padding: 0px 0px 0px 20px;
  }
}

@media screen and (max-width: 1366px){
  .content{
    width: 100%;
  }
}
</style>