<template>
  <div id="welcome" :style="`width: 100%; min-height: ${this.height}px;`">
    <div class="welcome-area">
      <div class="text-area" :style="`padding-top:${this.height/3}px;`">
        <h1 data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">Welcome to my WebSite</h1>
        <h3 data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
          Website
          <span class="scg-text">
            <span style="color: red;">SCG</span> Assignment
          </span> for prove my skill.
        </h3>
      </div>
      <div>
        <img
          class="light-area-2"
          data-aos="zoom-in"
          data-aos-delay="2000"
          data-aos-duration="1000"
          src="../../assets/light-2.png"
          alt
        />
        <img
          class="light-area"
          data-aos="fade-down"
          data-aos-delay="1500"
          data-aos-duration="1000"
          src="../../assets/light.png"
          alt
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      height: 0
    };
  },
  methods: {
    windowHeight() {
      this.height = window.innerHeight;
    }
  },
  created() {
    if (process.browser) {
      this.height = window.innerHeight;
      window.addEventListener("resize", this.windowHeight);
    }
  }
};
</script>

<style scoped>
#welcome {
  width: 100%;
}

.welcome-area {
  width: 100%;
  height: 100%;
}

.text-area {
  text-align: left;
  width: 70%;
  margin: 0 auto;
  z-index: 99;
}

.text-area h1 {
  font-size: 70px;
}

.light-area {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 12em;
  margin-top: -5em;
  width: 30%;
  transition: 0.2s all;
}

.light-area-2 {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 12em;
  margin-top: -5em;
  width: 30%;
  transition: 0.2s all;
}

.scg-text {
  padding: 5px;
  border-bottom: 3px solid black;
  font-size: 35px;
}

/* responsive */

@media screen and (max-width: 1680px) {
  .light-area {
    margin-right: 5em;
    margin-top: -0em;
    width: 30%;
  }

  .light-area-2 {
    margin-right: 5em;
    margin-top: -0em;
    width: 30%;
  }
}

@media screen and (max-width: 1440px) {
  .text-area h1 {
    font-size: 60px;
  }

  .text-area h3 {
    font-size: 25px;
  }
}

@media screen and (max-width: 1280px) {
  .text-area h1 {
    font-size: 50px;
  }

  .text-area h3 {
    font-size: 18px;
  }

  .scg-text{
    font-size: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .text-area h1 {
    font-size: 40px;
  }

  .text-area h3 {
    font-size: 16px;
  }

  .scg-text{
    font-size: 20px;
  }
}
</style>