<template>
  <div id="find-solution" :style="`min-height: ${this.height-124}px`">
    <div class="header-text" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
      <h1
        data-aos="fade-left"
        data-aos-delay="300"
        data-aos-duration="1000"
      >Find Solution</h1>
      <h3 data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000">
        <span>
          <span style="color: red;">X</span>, 5, 9, 15, 23,
          <span style="color: red;">Y</span>,
          <span style="color: red;">Z</span>
        </span>
      </h3>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
      <div class="row">
        <div
          class="col"
          style="text-align: center; margin: 40px; font-size: 25px; border-right: 1px solid black;"
        >
          <div>
            <span style="border-bottom: 1px solid black;">
              59 -
              <span style="color: red;">45</span> = 14
            </span>
            <br />45 -
            <span style="color: red;">33</span> = 12
            <br />33 - 23 = 10
            <br />23 - 15 = 8
            <br />15 - 9 = 6
            <br />9 - 5 = 4
            <br />5 -
            <span style="color: red;">3</span> = 2
            <br />
          </div>
          <div style="padding-top: 20px;">
            <h3>
              <span>
                <span style="color: red;">3</span>, 5, 9, 15, 23,
                <span style="color: red;">33</span>,
                <span style="color: red;">45</span>
              </span>
            </h3>
          </div>
        </div>
        <div class="col" style="margin-top: 30px; text-align: center;">
          <h1>
            N = (n
            <sup>2</sup> + 2) - (n - 1)
          </h1>
          <br />
          <img src="../assets/find-solution.png" width="95%" />
        </div>
      </div>
    </div>
    <div class="bottom-text" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
      <h1
        data-aos="fade-left"
        data-aos-delay="300"
        data-aos-duration="1000"
      >Try It !</h1>
    </div>
    <div class="container" style="text-align: center; margin-top: 40px;" data-aos="fade-down" data-aos-delay="1000" data-aos-duration="1000">
      <input
        type="number"
        id="input-autocomplete"
        placeholder="จำนวนตัวเลขที่ต้องการคำนวณ (ตัว.)"
        v-model="num"
        v-validate="'required'"
        name="num"
      />
      <br />
      <p style="color: red;">{{ this.error }}</p>
      <button
        type="button"
        class="btn btn-primary"
        style="width: 200px;"
        @click="calculate"
      >Calculate</button>
      <h2 style="padding: 40px;">{{ this.data }}</h2>
    </div>
  </div>
</template>

<script>

import axios from 'axios';
import {IP} from '../ip_config';

export default {
  data() {
    return {
        IP: IP,
      height: 0,
      num: null,
      error: "",
      data: ''
    };
  },
  methods: {
    calculate() {
        this.error = '';
        if(this.num > 0){
            axios({
                method:'post',
                url: this.IP + '/find-solution',
                data: {
                    num: this.num
                }
            }).then((response) => {
                this.data = response.data;
            })
        }else{
            this.error = 'Please input number.'
        }
    },
    windowHeight() {
      this.height = window.innerHeight;
    }
  },
  created() {
    if (process.browser) {
      this.height = window.innerHeight;
      window.addEventListener("resize", this.windowHeight);
    }
  }
};
</script>

<style scoped>
#find-solution {
  width: 100%;
  padding-top: 12vh;
  padding-bottom: 10vh;
}

.header-text {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 2px solid black;
}

.header-text h1{
  font-size: 60px;
}

.bottom-text {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  border-top: 2px solid black;
}

.bottom-text h1{
  font-size: 60px;
}

#input-autocomplete {
  width: 600px;
  height: 40px;
  padding: 5px;
  margin-bottom: 20px;
}

/* responsive */

@media screen and (max-width: 1680px) {
  .header-text h1{
    margin-top: 40px;
    font-size: 45px;
  }

  .header-text h3{
    font-size: 25px;
  }

  .bottom-text h1{
    font-size: 45px;
  }
}
</style>