<template>
    <div id="home">
        <Welcome />
        <Assignment />
        <AboutMe />
        <SeniorProject />
    </div>
</template>

<script>

import Welcome from '../components/mainPages/Welcome'
import Assignment from '../components/mainPages/Assignment'
import AboutMe from '../components/mainPages/AboutMe'
import SeniorProject from '../components/mainPages/SeniorProject'

export default {
    data(){
        return {

        }
    },
    components:{
        Welcome,
        Assignment,
        AboutMe,
        SeniorProject
    }
}
</script>

<style scoped>

    #home{
        text-align: center;
        height: 100%;
    }

</style>