<template>
  <div id="messaging-api" :style="`min-height: ${this.height-250}px`">
    <div class="container">
      <div class="row">
        <div class="col" style="border-right: 1px solid black;">
          <!-- <h1 data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000" style="margin-top: 100px;">BotMe</h1> -->
          <img src="../assets/icon_botme.png" width="300" alt="" data-aos="fade-left" data-aos-delay="300" data-aos-duration="1000">
          <h3 data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><span style="color: green; font-size: 40px;">LINE </span>Messaging API</h3>
        </div>
        <div class="col" style="border-left: 1px solid black;">
            <img src="../assets/qr_botme.png" alt="" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000">
        </div>
      </div>
      <div class="content-text">
        <br/>
        <h1 style="text-align: center;">Function</h1>
        <br/>
        <br/>
        <div class="row">
          <div class="col">
            <h4><span style="color: red">1.</span> Try to sending <span style="color: green">Image</span> or <span style="color: green">image</span></h4>
            <br>
            <img src="../assets/bot-image.jpg" width="100%" alt="">
          </div>
          <div class="col">
            <h4><span style="color: red">2.</span> Try to sending <span style="color: green">Location</span> or <span style="color: green">location</span></h4>
            <br>
            <img src="../assets/bot-location.jpg" width="100%" alt="">
          </div>
          <div class="col">
            <h4><span style="color: red">3.</span> Try to sending other</h4>
            <br>
            <br>
            <img src="../assets/bot-other.jpg" width="100%" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      height: 0
    };
  },
  methods: {
    windowHeight() {
      this.height = window.innerHeight;
    }
  },
  created() {
    if (process.browser) {
      this.height = window.innerHeight;
      window.addEventListener("resize", this.windowHeight);
    }
  }
};
</script>

<style scoped>
#messaging-api {
  width: 100%;
  padding-top: 15vh;
  padding-bottom: 10vh;
  text-align: center;
}

.content-text{
  padding-top: 50px;
  text-align: left;
}
</style>