<template>
  <div id="place-api" :style="`min-height:${this.height-250}px`">
    <h1 style="margin-top: 50px;">ค้นหาร้านอาหาร</h1>
    <h4 style="color: gray; margin-bottom: 40px;">ค้นหาร้านอาหารบริเวณใกล้เคียงที่คุณต้องการ</h4>
    <div class="google-map-set">
      <gmap-autocomplete @place_changed="setPlace" id="input-autocomplete"></gmap-autocomplete>
      <br />
      <input
        type="number"
        id="input-autocomplete"
        placeholder="รัศมี (เมตร.)"
        v-model="radius"
        v-validate="'required'"
        name="radius"
      />
      <br />
      <p style="color: red;">{{ this.error }}</p>
      <button
        type="button"
        class="btn btn-primary"
        style="width: 200px; margin-top: 20px;"
        @click="searchRestaurant(0)"
      >Search</button>
      <br/>
      <br/>
      <h3 v-if="this.data.length != 0">ค้นหาเจอจำนวน : <span style="color: green;">{{ this.data.length }}</span></h3>
    </div>
    <div id="card-restaurant">
      <div class="col-6 mx-auto" v-for="n in data" :key="n.id" style="min-width: 240px;">
        <div class="card card-body mb-2">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img :src="n.icon" class="card-img" style="max-width: 140px;" v-if="n.photos == null" />
              <img
                :src="`https://maps.googleapis.com/maps/api/place/photo?maxwidth=140&photoreference=` + n.photos[0].photo_reference + `&key=AIzaSyAsfoTulroFx4UDOd5mu632oZpKYaWxY7E`"
                class="card-img"
                style="width: 100%;"
                v-if="n.photos != null"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" style="text-align: left;">{{ n.name }}</h5>
                <p class="card-text" style="text-align: left;">{{ n.vicinity }}</p>
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <p class="card-text" style="text-align: left;" v-if="n.rating >= 2.5">
                      Rating :
                      <b style="color: green">{{ n.rating }}</b>
                    </p>
                    <p class="card-text" style="text-align: left;" v-if="n.rating < 2.5">
                      Rating :
                      <b style="color: red">{{ n.rating }}</b>
                    </p>
                    <p class="card-text" style="text-align: left;" v-if="n.rating == null">
                      Rating :
                      <b style="color: red">ไม่มี</b>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <p
                      class="card-text"
                      style="text-align: left;"
                      v-if="n.opening_hours != undefined && n.opening_hours.open_now == true"
                    >
                      Now :
                      <b style="color: green">Open</b>
                    </p>
                    <p
                      class="card-text"
                      style="text-align: left;"
                      v-if="n.opening_hours != undefined && n.opening_hours.open_now == false"
                    >
                      Now :
                      <b style="color: red">Close</b>
                    </p>
                    <p
                      class="card-text"
                      style="text-align: left;"
                      v-if="n.opening_hours == undefined"
                    >
                      Now :
                      <b style="color: red">ไม่มี</b>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <!-- <a :href="`https://www.google.com/maps/search/?api=1&query=${n.name}`" target="_black">Google Maps</a> -->
                    <a
                      :href="`https://www.google.com/maps/search/?api=1&query=${n.geometry.location.lat},${n.geometry.location.lng}`"
                      target="_black"
                    >Google Maps</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-link"
        @click="searchRestaurant"
        v-if="this.data.length != 0 && this.data.length != 60 && this.status != true"
      >More ...</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { IP } from "../ip_config";

export default {
  data() {
    return {
      IP: IP,
      currentPlace: null,
      marker: {
        lat: 0,
        lng: 0
      },
      radius: null,
      data: [],
      pagetoken: null,
      status: false,
      error: "",
      height: 0
    };
  },
  methods: {
    setPlace(place) {
      this.currentPlace = place;
      this.addMarker();
    },
    addMarker() {
      if (this.currentPlace) {
        this.marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        };
      }
    },
    searchRestaurant(reset) {
      if (this.marker.lat != 0 && this.marker.lng != 0 && this.radius != null) {
        if (this.radius >= 50) {
          this.error = "";
          if (reset == 0) {
            this.data = [];
            this.pagetoken = null;
            this.status = false;
          }
          axios({
            method: "post",
            url: this.IP + "/find-restaurant",
            data: {
              lat: this.marker.lat,
              lng: this.marker.lng,
              radius: parseInt(this.radius),
              pagetoken: this.pagetoken
            }
          }).then(response => {
            if (response.data[0].length != 20) {
              this.status = true;
              console.log(this.status);
            }

            if (this.data != []) {
              if (this.data.length != 60) {
                response.data[0].forEach(function(val) {
                  this.data.push(val);
                }, this);
                this.pagetoken = response.data[1];
                console.log(this.data);
              }
            } else {
              this.data = response.data[0];
              this.pagetoken = response.data[1];
              console.log(this.data);
            }
          });
        } else {
            this.error = "Radius must have Search radius must be greater than 49 meters."
        }
      }else{
        this.error = "Please input information.";
      }
    },
    windowHeight() {
      this.height = window.innerHeight;
    }
  },
  created() {
    if (process.browser) {
      this.height = window.innerHeight;
      window.addEventListener("resize", this.windowHeight);
    }
  }
};
</script>

<style scoped>
#place-api {
  width: 100%;
  padding-top: 15vh;
  padding-bottom: 10vh;
  text-align: center;
}

#input-autocomplete {
  width: 80%;
  max-width: 600px;
  height: 40px;
  padding: 5px;
  margin-bottom: 20px;
}

#card-restaurant {
  width: 80%;
  padding-top: 50px;
  margin: 0 auto;
}

.google-map-set{
  padding: 30px;
}
</style>