<template>
    <div id="footer">
        <div class="content-social">
            <div class="row">
                <div class="col">
                    <a href="https://www.facebook.com/ouza086" id="link" target="_blank">
                        <v-icon name="brands/facebook-square" scale="1.5"></v-icon>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.instagram.com/nawapol_b/" id="link" target="_blank">
                    <v-icon name="brands/instagram" scale="1.5"></v-icon>
                    </a>
                </div>
                <div class="col">
                    <v-icon id="link" name="phone" scale="1.5" title="(+66) 918068522"></v-icon>
                </div>
                <div class="col">
                    <v-icon id="link" name="envelope" scale="1.5" title="bab.nawapol@gmail.com"></v-icon>
                </div>
            </div>
        </div>
        © 2019 - Develop By <span id="name">Nawapol Tanwiboon</span> for <span style="color: red;">SCG</span> Assignment.
    </div>
</template>

<script>
export default {
    data(){
        return {

        }
    }
}
</script>

<style scoped>
    #footer{
        width: 100%;
        color: white;
        text-align: center;
        background: black;
        padding: 50px;
    }

    #name{
        border-bottom: 1px solid white;
        padding: 5px;
    }

    .content-social{
        max-width: 500px;
        height: 100%;
        margin: 0 auto;
        padding:50px;
    }

    #link{
        cursor: pointer;
        color: white;
        transition: 0.3s all;
    }

    #link:hover{
        color: red;
    }
</style>