<template>
  <div id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar" v-bind:class="{'navbarOpen': show}">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggler"
          aria-controls="navbarToggler"
          aria-expanded="false"
          aria-label="Toggle navigation"
          @click.stop="toggleNavbar()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="nav-area">
        <div class="collapse navbar-collapse" id="navbarToggler" v-bind:class="{'show': show}">
          <form class="">
          <router-link to="/" id="link">
            <a class="navbar-brand" id="navbar-link"><b><span style="color: red;">SCG</span> Assignment</b></a>
          </router-link>
          </form>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
          <form class="">
            <ul class="navbar-nav">
              <li class="nav-item">
                <router-link to="/find-solution" id="link">
                  <a class="nav-link" id="navbar-link" style="margin: 10px; width: 100%;">
                    <v-icon name="puzzle-piece" scale="1.5" style="margin-right: 5px; margin-top: -5px;"></v-icon> Find Solution
                  </a>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/place-api" id="link">
                  <a class="nav-link" id="navbar-link" style="margin: 10px;">
                    <v-icon name="location-arrow" scale="1.2" style="margin-right: 10px; margin-top: -5px;"></v-icon>Place API
                  </a>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/messaging-api" id="link">
                  <a class="nav-link" id="navbar-link" style="margin: 10px;">
                    <v-icon name="brands/line" scale="1.5" style="margin-right: 10px; margin-top: -5px;"></v-icon>Messaging API
                  </a>
                </router-link>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: false,
    };
  },
  methods: {
    toggleNavbar(){
      this.show = !this.show;
    }
  }
};
</script>

<style scoped>
#header {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 999;
}

.nav-area {
  width: 80%;
  margin: 0 auto;
}

#link {
  text-decoration: none;
}

#link:hover {
  text-decoration: none;
}

#navbar-link {
  transition: 0.2s all;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

#navbar-link:hover {
  color: #ee2524;
  border-bottom: 2px solid #ee2524;
}
</style>