<template>
  <div id="app">
    <vue-headful title="SCG Assignment" description="SCG Assignment for prove my skill."/>
    <Header />
    <router-view/>
    <Footer />
  </div>
</template>

<script>

import Header from './components/Header'
import Footer from './components/Footer'

export default {
  name: 'app',
  components: {
    Header,
    Footer
  }
}
</script>

<style>

</style>
